pip install -r requirements.txt

docker compose up -d postgis

python -m backend.postgis.import_india_admin

uvicorn backend.api.main:app --host 0.0.0.0 --port 8000

python -m http.server 3000 --directory frontend